@model IEnumerable<AppUserCourse>
@{
    ViewData["Title"] = "Courses";
}


<h1 class="text-center pb-4">Your Courses</h1>

@if (Model.Count() > 0)
{

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Course.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Course.Duration)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.InstructorName)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(e => course.Course.Name)</td>
                        <td>@Html.DisplayFor(e => course.Course.Duration)</td>
                        <td>@Html.DisplayFor(e => course.InstructorName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">
        No Course Found
    </div>
}
