@model IEnumerable<UserVM>;

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center pb-4">Users</h1>

<div class="mt-5 mb-5">

    <form class="row offset-1" asp-action="Index">
        <div class="col-10">
            <input type="text" placeholder="User's Email" class="form-control" name="email" />
        </div>

        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>

    </form>

</div>
@if (Model.Count() > 0)
{

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.LName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Roles)</th>
                    <th scope="col">Details</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(e => user.Id)</td>
                        <td>@Html.DisplayFor(e => user.FName)</td>
                        <td>@Html.DisplayFor(e => user.LName)</td>
                        <td>@Html.DisplayFor(e => user.Email)</td>
                        <td>@string.Join(",", user.Roles)</td>

                        <partial name="_ButtonsPartialView" model="@user.Id"></partial>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">
        No Users Found
    </div>
}



