@model PaginationVM;

@{
    ViewData["Title"] = "Employees";
}

<h1 class="text-center pb-4">Employees</h1>
<a asp-controller="Employee" asp-action="Create" class="btn btn-success mb-4">Create New Employee</a>
@if (TempData["Message"] is not null)
{
    <div class="alert alert-success">
        <h1>@TempData["Message"]</h1>
    </div>
}

<div class="mt-5 mb-5">

    <form class="row offset-1" asp-action="Index">
        <div class="col-10">
            <input type="text" placeholder="Employee's Name" class="form-control" name="SeachValue" />
        </div>

        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>

    </form>

</div>
@if (Model.Employees.Count() > 0)
{

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Image)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Salary)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().departnment)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Age)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().IsActive)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Address)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Employees.First().Phone)</th>
                    <th scope="col">Details</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td><img src="~/Files/Images/@employee.ImageName" style="width:50px ;height:50px" /></td>
                        <td>@Html.DisplayFor(e => employee.Name)</td>
                        <td>@Html.DisplayFor(e => employee.Salary)</td>
                        <td>@Html.DisplayFor(e => employee.departnment.Name)</td>

                        <td>@Html.DisplayFor(e => employee.Age)</td>
                        <td>
                            @if (employee.IsActive)
                            {
                                <i class="fa-solid fa-circle" style="color:green"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-circle" style="color:red"></i>

                            }

                        </td>
                        <td>@Html.DisplayFor(e => employee.Address)</td>
                        <td>@Html.DisplayFor(e => employee.Email)</td>
                        <td>@Html.DisplayFor(e => employee.Phone)</td>

                        <partial name="_ButtonsPartialView" model="@employee.Id"></partial>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize" class="btn btn-primary @(Model.PageNumber == 1 ? "disabled" : "")">Previous</a>
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize" class="btn btn-primary @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">Next</a>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        No Employees Found
    </div>
}



